@font-face{
    font-family: pokemon;
    src: url('./assets/PokemonGb-RAeo.ttf');
}
html, body {
    font-family: pokemon;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}
button {
    cursor: pointer;
}
.container {
    font-family: pokemon;
    width: 100%;
    height: 80%;
}
.screen {
    width: 80%;
    height: 80%;
    background-color: lightgreen;
    margin: 0 auto;
    position: relative;
    background-image: url('./assets/backgrounds/forest.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background-image .5s;
    margin-top: 5%;
    box-sizing: border-box;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    
}
.no-show {
    display: none;
}
.menu-buttons {
    height: 20%;
    width: 80%;
    background-color: lightgrey;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    border: 5px double black;
    box-sizing: border-box;  
}
.menu {
    font-family: pokemon;
    margin: 25px 0 25px 0;
    
    font-size: 1rem;
    background-color: darkgrey;
    letter-spacing: .5px;
    box-sizing: border-box;
    border: 5px double black;
}
#train {
    display: none;
}
.player {
    bottom: 50px;
    height: 30%;
    width: 30%;
    position: absolute;
   
    transition: opacity .3s;
}
.health-bar {
    position: relative;
    background-color: red;
    width: 100%;
    height: 10%;
    border: 3px solid black;
    
}
#user {
    position: absolute;
    background-color: green;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    color: white;
    text-align: center;
    transition: width .5s;
    
}
.player img {
    width: 60%;
    height: 100%;
    margin-left: 100px;
    /* transition: opacity .3s; */
    /* opacity: 1; */
}
.enemy {
    bottom: 50px;
    right: 10px;
    height: 30%;
    width: 30%;
    position: absolute;
    opacity: 1;
    transition: opacity .3s
    
}
#enemy {
    position: absolute;
    background-color: green;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    transition: width .5s;
    box-sizing: border-box;
    background-position: center;
    ;
    
}
.enemy img {
    width: 100%;
    height: 100%;
    margin-right: 100px;
   
    
}
table {
    border: 1px solid black;
    display: none;
    
}
th {
    border-top: 1px solid black;
    cursor: pointer;
}
.game-over {
    margin-top: 20%;
    width: 100%;
    height: 100%;
    background-color: black;
    display: none;
    opacity: 0;
    transition: opacity 3s;
    text-align: center;
    

}
.game-over button {
    font-family: pokemon;
    margin: 50px 100px;
    height: 10%;
    font-size: 1rem;
    background-color: darkgrey;
    letter-spacing: .5px;
}
h1 {
    color: white;
    font-size: 5rem;
}
h2 {
    color: white;
}
.victory {
    display: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: opacity 3s;
    text-align: center;
}
.victory button {
    font-family: pokemon;
    margin: 50px 100px;
    height: 10%;
    font-size: 1rem;
    background-color: darkgrey;
    letter-spacing: .5px;
}
#log {
    border: 4px double black;
    font-family: pokemon;
    color: black;
    line-height: 1.5rem;
    
}
@media  screen and (max-width: 959px) {
   
     .menu-buttons {
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: nowrap;
        height: 30%;
    }
    .menu {
        margin: 0;
        flex-grow: 1;
        font-size: small;
    }
    #log {
        max-width: 100%;
        box-sizing: border-box;
        
    } 
    table {
        box-sizing: border-box;
    }
    .enemy {
        top: 30%;
    }
  }

